@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
body {
    @apply h-full max-h-screen overflow-y-auto overflow-x-hidden bg-black;
}
:root {
    @apply touch-none overscroll-contain h-full;
    -webkit-tap-highlight-color: transparent;
    --element-color: #2d2d2d;
    --dark-gradient-background: linear-gradient(to bottom, #212121, #080808);
    --small-button-color: #4e5760;
    --full-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    --white-gradient-border-image: linear-gradient(var(--gradient-border-degrees), transparent 10%, #ffffff 50%, transparent 90%) 1;
    --white-gradient-border-image-zero: linear-gradient(0deg, transparent 0%, #ffffff 50%, transparent 100%) 1;
    --gradient-border-degrees: 90deg;
    --basic-card-background: linear-gradient(to bottom, #282828, #121212);
    --fancy-basic-card-background: linear-gradient(to bottom, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
    --button-scale-transition: transform 200ms;
    --fast-easing-function: cubic-bezier(0.39, 0.79, 0.13, 1.04);
    --small-white-border: solid 2px #ffffff20;
    --light-white-gradient: linear-gradient(135deg, #ffffff28, #ffffff11);
    --even-lighter-white-gradient: linear-gradient(135deg, #ffffff15, #ffffff06);
    --rotatable-white-gradient: linear-gradient(var(--rotation), #ffffff1b, #ffffff14);
    --light-gold-gradient: linear-gradient(135deg, #dbac3428, #dbac3411);
    --light-red-gradient: linear-gradient(135deg, #ff000028, #ff000011);
    --sph-gradient: linear-gradient(to bottom, #18d5ee, #397ed5);
    --sph-glow: #2ba3e0;
    --fade-mask-size: 0.1;
    --horizontal-fade-mask: linear-gradient(to right, transparent 0%, white 10%, white 90%, transparent 100%);
    --vertical-fade-mask: linear-gradient(to bottom, transparent 0%, white 10%, white 90%, transparent 100%);
    color: white;
}
#__nuxt {
    @apply h-full min-h-screen;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.blurred-background {
    background: var(--light-white-gradient);
    border-top: var(--small-white-border);
}
.blurred-background.borderless {
    border-top: none;
}
.blurred-background[bg-type="gold"] {
    background: var(--light-gold-gradient);
}
.blurred-background[bg-type="red"] {
    background: var(--light-red-gradient);
}
@font-face {
    font-family: "SPBold";
    src: url("/font/bold.otf");
}
@font-face {
    font-family: "SPSemiBold";
    src: url("/font/semibold.otf");
}
@font-face {
    font-family: "SPRegular";
    src: url("/font/regular.otf");
}
body {
    font-family: "SPSemiBold", sans-serif;
    user-select: none;
}
h1 {
    font-family: "Merriweather", serif;
    font-weight: bold;
}
h2 {
    font-family: "SPBold", sans-serif;
    @apply text-xl;
}
.rounded-button {
    @apply p-1 rounded-full shadow-sm hover:active:scale-90 text-white;
    transition: transform 0.2s ease-out;
    background: var(--small-button-color);
}
.big-button {
    @apply bg-white rounded-full w-64 h-8 drop-shadow-md hover:active:scale-90;
    transition: transform 0.2s ease-out;
}
.card-icon {
    width: 1rem;
}
#header {
    z-index: 4;
    background: linear-gradient(to right, #18d6ee, #3a7cd5);
}
.card {
    > main > .gradient-border::before {
        width: calc(18rem + 6px);
        box-shadow: 5px 5px 8px 0 #00000036;
    }
    > footer {
        @apply mt-1 mb-3 flex justify-center;
        button {
            @apply text-white px-2 rounded-full hover:active:scale-95 mx-1 drop-shadow-md text-[1.1rem];
            background: #ffffff65;
            text-shadow: 0 1px 5px #00000040;
            span {
                @apply ml-1.5;
            }
        }
    }
}
.gradient-border {
    @apply relative;
}
.gradient-border::before {
    @apply z-[-1] m-[-3px] bottom-0 top-0 left-0 right-0 absolute drop-shadow-xl rounded-[inherit] content-[""];
    background: var(--gradient);
    width: calc(100% + 6px);
}
.gradient-border > * {
    background: linear-gradient(to bottom, #212121, #080808);
    border-radius: inherit;
}
.warning,
.basic-warning {
    @apply bg-yellow-500 border-yellow-500;
}
.info,
.basic-info {
    @apply bg-blue-500 border-blue-500;
}
.basic-error {
    @apply bg-red-500 border-red-500;
}
.basic-info-colored {
    background-color: var(--bg-color);
    border-color: var(--color);
}
.warning,
.info,
.basic-info,
.basic-warning,
.basic-error,
.basic-info-colored {
    line-height: 1.1rem;
    @apply bg-opacity-30 border-[1px] w-fit rounded-md shadow-md text-[0.9rem] px-2 py-1 text-white;
}
.warning,
.info {
    @apply inline-flex justify-self-center;
}
.warning::before,
.info::before {
    @apply inline-flex self-center mr-2;
}
.warning::before {
    content: "⚠";
}
.info::before {
    content: "ℹ️";
}
.select {
    @apply flex my-3 justify-center text-white;
    > div {
        @apply border-white border-[1px] px-2 py-1 rounded-md mx-0.5;
    }
    > div[selected] {
        @apply bg-[#ffffff50];
    }
}
.spinner {
    background: url("https://i.imgur.com/NCYL2PJ.png") no-repeat;
    height: var(--size);
    width: var(--size);
    background-size: var(--size);
    animation: 900ms spin infinite linear;
}
.button-with-symbol {
    @apply rounded-full bg-white text-black mx-1.5 px-3 py-1 mt-2 hover:active:scale-[0.95];
    svg {
        @apply mr-1;
    }
}
.error {
    @apply flex justify-center;
    span {
        @apply bg-red-500 w-fit px-2 rounded-full shadow-md text-white whitespace-nowrap overflow-x-auto max-w-[70vw] block;
    }
}
.news-icon {
    @apply bg-red-500 rounded-full grid place-content-center drop-shadow text-white px-1;
    --size: 1.25rem;
    min-width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) - 0.25rem);
}
.card-main-description {
    @apply text-sm text-center mb-1;
}
@keyframes loading {
    0% {
        background: #3c445c;
    }
    30% {
        background: #4d5774;
    }
    100% {
        background: #3c445c;
    }
}
dialog::backdrop {
    background: #00000090;
}
.course-counter,
.small-info {
    background: var(--small-button-color);
    @apply rounded-full ml-2 h-5 min-w-[1.25rem] text-center px-1 text-sm;
}
.small-info {
    @apply px-2 py-0.5;
}
pre,
code {
    font-family: monospace;
    span {
        font-family: inherit;
    }
}
pre.light,
code.light {
    color: #abb2bf;
    .string {
        color: #7ac379;
    }
    .number {
        color: #d19a66;
    }
    .boolean {
        color: #61afef;
    }
    .null {
        color: #c678dd;
    }
    .key {
        color: #e06c75;
    }
}
pre.dark,
code.dark {
    color: #dae2f1;
    .string {
        color: #7ac379;
    }
    .number {
        color: #d19a66;
    }
    .boolean {
        color: #61afef;
    }
    .null {
        color: #c678dd;
    }
    .key {
        color: #e06c75;
    }
}
.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
}
*::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none;
}
.widget {
    @apply px-2 !border-none rounded-xl w-fit h-fit;
}
