body {
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: scroll;
}
#background {
    background: #141414;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -2;
}
#background > #overlay {
    height: inherit;
    width: inherit;
    opacity: 15%;
    filter: blur(3px);
}
:root {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: contain;
    touch-action: none;
    -ms-touch-action: none;
    --element-color: #2d2d2d;
    color: white;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@font-face {
    font-family: "SPBold";
    src: url("/font/bold.otf");
}
@font-face {
    font-family: "SPSemiBold";
    src: url("/font/semibold.otf");
}
@font-face {
    font-family: "SPRegular";
    src: url("/font/regular.otf");
}
* {
    font-family: "SPSemiBold";
    user-select: none;
}
p,
small {
    color: white;
}
h1,
*[header-alike] {
    font-family: "Bricolage Grotesque";
    font-weight: bold;
    color: white;
}
.rounded-button {
    @apply p-1 rounded-full shadow-sm hover:active:scale-90 bg-[#4e5760] text-white;
    transition: transform 0.2s ease-out;
}
.big-button {
    @apply bg-white rounded-full w-64 h-8 drop-shadow-md hover:active:scale-90;
    transition: transform 0.2s ease-out;
}
.card-icon {
    width: 1rem;
}
#header {
    z-index: 2;
    background: linear-gradient(to right, #18d6ee, #3a7cd5);
}
.card {
    > main > .gradient-border::before {
        width: calc(18rem + 6px);
        box-shadow: 5px 5px 8px 0 #00000036;
    }
    > footer {
        @apply mt-1 mb-3 flex justify-center;
        button {
            @apply text-white px-2 rounded-full hover:active:scale-95 mx-1 drop-shadow-md text-[1.1rem];
            background: #ffffff65;
            text-shadow: 0 1px 5px #00000040;
            span {
                @apply ml-1.5;
            }
        }
    }
}
.gradient-border::before {
    @apply z-[-1] m-[-3px] bottom-0 top-0 left-0 right-0 absolute drop-shadow-xl rounded-[inherit] content-[""] w-[inherit];
    background: var(--gradient);
}
.gradient-border > * {
    background: linear-gradient(to bottom, #212121, #080808);
    border-radius: inherit;
}
.warning {
    @apply bg-yellow-500 border-yellow-500;
}
.info {
    @apply bg-blue-500 border-blue-500;
}
.warning,
.info {
    line-height: 1.1rem;
    @apply bg-opacity-30 border-[1px] w-fit rounded-md shadow-md justify-self-center text-[0.9rem] flex px-2 py-1;
}
.warning::before,
.info::before {
    @apply inline-flex self-center mr-2;
}
.warning::before {
    content: "⚠";
}
.info::before {
    content: "ℹ️";
}
.select {
    @apply flex my-3 justify-center text-white;
    > div {
        @apply border-white border-[1px] px-2 py-1 rounded-md mx-0.5;
    }
    > div[selected] {
        @apply bg-[#ffffff50];
    }
}
.spinner {
    background: url("https://i.imgur.com/NCYL2PJ.png") no-repeat;
    height: var(--size);
    width: var(--size);
    background-size: var(--size);
    animation: 900ms spin infinite linear;
}
.basic-card {
    background: linear-gradient(to bottom, #282828, #121212);
    @apply w-80 shadow-lg rounded-xl mx-5 text-white py-3;
    border-top: solid 1px;
    border-image: linear-gradient(90deg, #282828 10%, #ffffff 50%, #282828 90%) 1;
    h1 {
        @apply text-2xl mt-1;
    }
}
.button-with-symbol {
    @apply rounded-full bg-white text-black mx-1.5 px-3 py-1 mt-2 hover:active:scale-[0.95];
    svg {
        @apply mr-1;
    }
}
.error {
    @apply flex justify-center max-w-[100vw];
    span {
        @apply bg-red-500 w-fit px-2 rounded-full shadow-md text-white whitespace-nowrap text-ellipsis overflow-hidden max-w-[100vw];
    }
}
.news-icon {
    @apply bg-red-500 rounded-full grid place-content-center drop-shadow text-white;
    --size: 1.25rem;
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) - 0.25rem);
}
.card-main-description {
    @apply text-sm text-center mb-1;
}
@keyframes loading {
    0% {
        background: #3c445c;
    }
    30% {
        background: #4d5774;
    }
    100% {
        background: #3c445c;
    }
}
.placeholder *:not([excluded]) {
    background: #3c445c;
    animation: loading infinite 2000ms ease-in-out;
}
dialog::backdrop {
    background: #00000090;
}
.course-counter {
    background: #4d565f;
    @apply rounded-full ml-2 h-5 min-w-[1.25rem] text-center px-1 text-sm;
}
